<div class="card" id="operators">
    <div class="card-body">
        <div class="card-header mt-1">
            <h1>Operadores</h1>
        </div>
        <table class="table" style="background-color: white">
            <thead>
                <tr>
                    <td colspan='10'>
                    <a href="{% url 'addOperators' username=user.first_name %}">
                        <button class="btn btn-success btn-round">
                        <i class="fa fa-plus"></i> Adicionar novo Operador 
                        </button>
                    </a>
                    </td>
                <tr>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email Cadastrado</th>
                    <th scope="col">Ingressou em</th>
                    <th scope="col">Última vez online</th>
                    <th scope="col">Ações</th>                                                                                
                </tr>
            </thead>
            <tbody>
                {% for operator in all_operators %}
                <tr>
                    <td>{{operator}}</td>
                    <td>{{operator.email}}</td>
                    <td>{{operator.date_joined|date:"d/m/Y"}}</td>
                    <td>{{operator.last_login}}</td>
                    <td>Remover do cargo</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan='2'>Você ainda não tem nenhum setor cadastrado</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>