{% load static %}
<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static '/assets/img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--  TITLE   -->
  <title>{% block title %}{% endblock %}</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- CSS Files -->
  <link href="{% static '/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static '/assets/css/now-ui-kit.css' %}" rel="stylesheet" />
  <link href="{% static '/assets/css/now-ui-kit.map' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static '/assets/demo/demo.css' %}" rel="stylesheet" >
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!--- SweetAlert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <style>{% block css %}{% endblock %}
  body {
    background-image: url(https://images.hdqwalls.com/download/dark-abstract-black-minimal-4k-q0-1920x1080.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .fade {
    z-index: auto;
  }
  </style>
</head>
<body>
<div class="page-header clear-filter" filter-color="orange">
  <nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <div class="logo" style="">
      <img src="{% static '/assets/img/new_logo.png' %}" width="100" height="50">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="form-inline ml-auto" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Meus Tickets
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'novoTicket' username=user.first_name %}">Abrir Novo Ticket</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.first_name}} {{user.last_name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Trocar senha</a>
            <a class="dropdown-item" href="#">Sair</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  </nav>

  <!----- CONTENT ---->
<div class="container">
{% block content %}
{% endblock content %}
</div>













  </div>











  {% block script %}
  {% endblock %}


  <!--   Core JS Files   -->
  <script src="sweetalert2.all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="{% static '/assets/js/core/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/assets/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{% static '/assets/js/plugins/bootstrap-switch.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static '/assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="{% static '/assets/js/plugins/bootstrap-datepicker.js' %}" type="text/javascript"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="{% static '/assets/js/now-ui-kit.js' %}" type="text/javascript' %}"></script>
  <script src="{% static '/assets/js/now-ui-kit.js.map' %}" type="text/javascript' %}"></script>
</body>
</html>
