<div class="wrapper_table">
    <table class="table" id="tablenotifications">
        <tbody>
            {% for notify in notification %}
            <tr> 
                <td>
                    <a href="{% url 'notify_ticket' id=notify.id %}">          
                        <div>
                            <p class="notifications-text">{{notify.text}}</p><br><br>
                            <small style="float: right;" class="badge badge-info">{{notify.date|timesince}} ATRÁS</small>
                        </div>  
                    </a>
                </td>
            </tr>
            {% empty %}
            <div class="container" id="NoNotification">
                <h1>
                    Você não possui nenhuma notifação!
                </h1>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
<div style="text-align: center;">
    <a href="{% url 'all_tickets' username=user.first_name %}"><p class="see">Ver todas as notificações</p></a>
</div>