{% extends 'home/static/templates/base.html' %}
{% load static %}

{% block title %}
{{ user.first_name }} | Trocar Senha
{% endblock %}

{% block css %}
label {
    color: black;
    font-weight: bolder;
}
span {
  color: black;
}

{% endblock css %}
{% block content %}

<div class="card">
    <div class="card-body">
      <form method="POST" id="formm">
        {% csrf_token %}
        <label>Nova senha:</label>
        <p>{{form.new_password1}}</p>
        <label>Confirmação da nova senha:</label>
        <p>{{form.new_password2}}</p>
        <br>
        <br>
        <br>
        <button type="button" id="buttonform" class="btn btn-danger btn-round">Confirmar nova senha</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}

<script src="{% static 'templates/changepassword.js' %}" type="text/javascript"></script>

{% endblock script %}
