{% extends 'home/static/templates/base.html' %}

{% block title %}
{{ user.first_name }} | Trocar Senha
{% endblock %}

{% block css %}
label {
    color: black;
    font-weight: bolder;
}
span {
  color: black;
}

{% endblock css %}
{% block content %}

<div class="card">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <label>Nova senha:</label>
        <p>{{form.new_password1}}</p>
        <label>Confirmação da nova senha:</label>
        <p>{{form.new_password2}}</p>
        <br>
        {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  {{field.label}}: {{ error|escape }}
              {% endfor %}
          {% endfor %}
        {% endif %}
        <br><br>
        <button type="submit" id="form" class="btn btn-danger btn-round">Confirmar nova senha</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}

<script>
  function fireSweet(){
    Swal.fire({
      position: 'center',
      icon: 'success',
      title: 'Nova senha cadastrada',
      showConfirmButton: false,
      timer: 1500
    })
  })
  $(document).ready(function(){
    let form = $('#form');
    form.on("click",function(){
      fireSweet();
      setTimeout( function () { 
        $('form').submit();
      }, 3000 );
    });
</script>

{% endblock script %}
