<table class="table table-bordered" style="background-color: white">
  <thead>
    <tr>
      <th scope="col">Protocolo</th>
      <th scope="col">Tipo</th>
      <th scope="col">Setor</th>
      <th scope="col">Data</th>
      <th scope="col">Status</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets_in_progress %}
    {% if ticket.operator_id == user.id %}
    <tr>
      <td>{{ticket.id}}</td>
      <td>{{ticket.sort}}</td>
      <td>{{ticket.sector}}</td>
      <td>{{ticket.created_at}}</td>
      <td><span class="badge badge-info">{{ticket.status}}</span></td>
      <td>
        <div id="icons">
            <a href="{% url 'closeTicket' id=ticket.id %}"
              data-toggle="tooltip" 
              title="Fechar Ticket" 
              id="closeTicket"
              onclick="fireSweet()">
          <i class="fas fa-check-square fa-lg">
            </i></a> 
            <a href="{% url 'verTicketOperator' id=ticket.id %}" data-tippy-content="Visualizar Ticket">
          <i class="fas fa-eye fa-lg">
            </i></a>
        </div>
      </td>
    </tr>
    {% endif %}
    {% empty %}
    <tr>
      <td colspan="10">
        <strong>Você não possui tickets pendentes.</strong>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
